<div id="title">
    <h1>{{title}}</h1>    
    <h2>{{subtitle}}</h2>
    <p>{{web}}</p>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean facilisis arcu vel pellentesque lacinia. Sed non
        tristique arcu, id interdum sem. Vivamus in ullamcorper arcu. Sed maximus iaculis erat id elementum. Cras
        condimentum augue vitae rhoncus ullamcorper. Nullam facilisis risus elit, id eleifend ligula aliquam id. Donec
        laoreet, nibh non euismod dignissim, dui massa aliquam felis, a elementum dui nibh ut nulla. Vivamus in leo sagittis
        felis pulvinar imperdiet. Curabitur magna diam, varius eu nulla luctus, pellentesque bibendum justo.
    </p>
</article>