
<div class="container">
    <h2>Projectos</h2>

    <ul>
        <li *ngFor="let project of projects" class="project">
            <a [routerLink]="['/proyecto', project._id]">
                <div class="image"> <!--Se le hace una mascara a la iamgen, y una mascara es un div el cual recorta lo que sobresalga de el -->
                    <img src="{{url+'get-image/'+project.image}}" *ngIf="project.image">
                </div>            
                <h3>{{project.name}}</h3>
                <p>{{project.category}}</p>
            </a>
        </li>
    </ul>
</div>